* {
  font-family: Verdana;
}

h1{
  font-size: 32px;
  margin-left: 685px;
}

span{
  margin-left: 650px;
}

.productContainer {
  display: inline-block;
  border-style: groove;
  margin-left: 430px;

}

#productLeft {
  width: 20%;
  height: 20%;
}

#productCenter {
  width: 20%;
  height: 20%;
}

#productRight {
  width: 20%;
  height: 20%;
}

#productBox > img{
  margin: auto;
  border-style: solid;
  border: solid 2px black;
  width: 200px;
  height: 200px;
}

#chart{
  margin-left: 545px;
}
.clearfix{
  clear: both;
}
