* {
  font-family: Verdana;
}

h1{
  font-size: 32px;
  margin-left: 685px;
}

span{
  margin-left: 650px;
}

.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: groove;
}

.productLeft {
  display: flex;
  width: 20%;
  height: 20%;
}

.productCenter {
  display: flex;
  width: 20%;
  height: 20%;
}

.productRight {
  display: flex;
  width: 20%;
  height: 20%;
}

.productBox > img{
  width: 300px;
  height: 300px;
  margin: auto;
  border-style: solid;
}

.results{
  display: flex;
  flex-direction: row;
}

button{

}

.clearfix{
  clear: both;
}
